@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  background: #f7f7fc;
  color:#4b4949;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px 40px;
}

.header, .footer {
  background-color: #A1E2A1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 2;
  height: 60px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 3px;
  font-weight: 700;
}

.main-info h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: 400;
}

.nav {
  order: 3;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  list-style: none;
  padding: 0;
}

.nav-item {
  text-align: right;
  font-size: 14px;
  text-transform: uppercase;
}

.nav a,
.circle a {
  text-decoration: none;
  color: #4b4949
}

.nav a:hover,
.circle a:hover {
  font-weight: bolder;
}

.cv-image {
  order: 1;
  height: 250px;
  border-radius: 10px;
  border-left: 15px solid #fff;
}

.main {
  flex: 1;
}

h2 {
  border-bottom: 2px solid #4b4949;
  padding-left: 1em;
}

.contacts a {
  text-decoration: none;
  color:#4b4949;
}

.contacts a:hover {
  font-weight: bolder;
}

.wrapper {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10px 80px;
  justify-content: flex-start;
}

.circle li{
  list-style-type: circle;
}

code {
  position: relative;
  left: -80px;
  font-size: 14px;
}
